<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Official NuGet -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- BepInEx packages (BepInEx.Core, BepInEx.Analyzers, etc.) -->
    <add key="BepInEx" value="https://nuget.bepinex.dev/v3/index.json" />
    <!-- Valheim-specific NuGet packages (Jotunn lives here on nuget.org as JotunnLib) -->
  </packageSources>
</configuration>
